@mixin close() {
  position: absolute;
  font-size: 32px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
  text-decoration: none;
  filter: #{'invert(1)'};
  mix-blend-mode: difference;
  &:hover {
    opacity: 1;
  }
}
