@mixin close {
  position: absolute;
  color: white;
  font-size: 36px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}
