.http-warning-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10% 20px;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}
