@import 'includes/spinner';
@import 'includes/close';
@import 'includes/iframe';
@import 'includes/mobile';

@mixin closingAnimation {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.typeform-popover {
  bottom: 96px;
  position: fixed;
  right: 16px;
  z-index: 10001;

  &.open {
    max-width: 100%;
    min-height: 360px;
    min-width: 360px;
  }

  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 2px 4px, rgba(0, 0, 0, 0.06) 0 2px 12px;

    iframe {
      @include iframe;
      border-radius: 8px;
    }
  }

  &-close {
    display: none;
  }

  &-button {
    width: 54px;
    height: 54px;
    position: fixed;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.08);
    color: white;
    right: 26px;
    bottom: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #3a7685;
    line-height: 0;
    border: none;

    &-icon {
      font-size: 24px;

      svg {
        margin-top: 6px;
      }

      svg,
      img {
        max-height: 54px;
        max-width: 54px;
      }
    }
  }

  &-tooltip {
    position: fixed;
    right: 94px;
    bottom: 33px;
    max-width: 240px;
    padding: 10px 25px 10px 10px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 12px rgba(0, 0, 0, 0.06);
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 22px;

    &::before {
      background-color: #ffffff;
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      right: -4px;
      bottom: 15px;
      transform: rotate(45deg);
      box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, 0.06);
    }

    &-text {
      overflow: hidden;
    }

    &-close {
      color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
      margin-left: 4px;
      display: inline-block;
      width: 20px;
      height: 20px;
      font-size: 18px;
      text-align: center;
      position: absolute;
      top: 8px;
      right: 6px;

      &:hover {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    &.closing {
      @include closingAnimation;
    }
  }
  &-unread-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fa6b05;
    border: 2px solid #fff;
    position: absolute;
    top: 2px;
    right: 2px;

    &.closing {
      @include closingAnimation;
    }
  }
}

.typeform-spinner {
  @include spinner;
}

@include mobile {
  .typeform-popover {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;

    &.open {
      .typeform-popover-close {
        display: block;
      }
    }

    &-wrapper {
      border-radius: 0;
      box-shadow: none;

      iframe {
        border-radius: 0;
      }
    }

    &-close {
      @include close(#737373);
      top: 6px;
      right: 8px;
      z-index: 1;
      opacity: 0;
    }

    &-button {
      width: 44px;
      height: 44px;
      right: 8px;
      bottom: 8px;

      &-icon {
        font-size: 20px;

        svg {
          margin-top: 4px;
        }

        svg,
        img {
          max-height: 24px;
          max-width: 24px;
        }
      }
    }

    &-tooltip {
      position: fixed;
      right: 66px;
      bottom: 8px;
      left: auto;
      font-size: 12px;

      &::before {
        bottom: 14px;
      }
    }
  }

  .typeform-spinner {
    @include spinner($diameter: 32px);
  }
}
