@import 'includes/spinner';
@import 'includes/close';
@import 'includes/iframe';
@import 'includes/mobile';

.typeform-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s ease-in-out;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: center;

  .typeform-iframe-wrapper {
    position: relative;
    transition: opacity 0.25s ease-in-out;
    min-width: 360px;
    min-height: 360px;

    iframe {
      @include iframe;
      border-radius: 8px;
    }
  }

  .typeform-close {
    @include close;

    top: -34px;
    right: 0;
  }

  .typeform-spinner {
    @include spinner();
  }
}

@include mobile {
  .typeform-popup {
    width: 100vw;
    height: 100vh;

    .typeform-iframe-wrapper {
      position: relative;
      transition: opacity 0.25s ease-in-out;
      min-width: 100%;
      min-height: 100%;

      iframe {
        border-radius: 0;
      }
    }

    .typeform-close {
      @include close(#737373);
      top: 6px;
      right: 8px;
    }
  }
}
