@import 'includes/spinner';
@import 'includes/close';

.typeform-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s ease-in-out;

  .typeform-iframe-wrapper {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease-in-out;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .typeform-close {
    @include close;

    top: -34px;
    right: 0px;
  }

  .typeform-spinner {
    @include spinner();
  }
}
