@import 'includes/spinner';
@import 'includes/iframe';
@import 'includes/mobile';
@import 'includes/close';

.typeform-sidetab {
  position: fixed;
  top: 50%;
  right: 0;
  width: 400px;
  height: 580px;
  transform: translate(100%, -50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 12px rgba(0, 0, 0, 0.06);
  z-index: 10001;
  will-change: transform;

  &.ready {
    transition: transform 250ms ease-in-out;
  }

  iframe {
    @include iframe;
    border-radius: 8px 0 0 8px;
  }

  &.open {
    transform: translate(0, -50%);
  }

  &-wrapper {
    height: 100%;
  }

  &-button {
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px 8px 0 0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 2px 12px rgba(0, 0, 0, 0.06);
    background-color: #3a7685;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    outline: none;

    &-text {
      flex: 1;
      font-size: 18px;
      font-family: Helvetica, Arial, sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
      transform: rotate(90deg);
      margin-right: 12px;
      position: relative;
      order: -1;
    }
  }

  &-close {
    display: none;
  }

  .typeform-spinner {
    @include spinner($diameter: 24px);
    top: 0;
    left: 0;
    margin: 0;
  }
}

@include mobile {
  .typeform-sidetab {
    transition: unset;

    &.ready {
      transition: unset;
    }

    &.open {
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(0, 0);
    }

    &-close {
      @include close(#737373);
      display: block;
      top: 6px;
      right: 8px;
      z-index: 1;
    }
  }
}
