@import 'includes/spinner';
@import 'includes/close';
@import 'includes/iframe';
@import 'includes/mobile';

.typeform-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s ease-in-out;
  z-index: 10001;

  .typeform-iframe-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out;

    iframe {
      @include iframe;
      border-radius: 8px 0 0 8px;
    }
  }

  .typeform-close {
    @include close;

    top: 4px;
    left: -24px;

    &:hover {
      opacity: 1;
    }
  }

  .typeform-spinner {
    @include spinner();
  }

  &.left {
    .typeform-iframe-wrapper iframe {
      border-radius: 0 8px 8px 0;
    }

    .typeform-close {
      left: auto;
      right: -24px;
    }
  }
}

@include mobile {
  .typeform-slider {
    width: 100vw;
    height: 100vh;

    .typeform-iframe-wrapper {
      width: 100% !important;
      height: 100%;
      transition: unset;

      iframe {
        border-radius: none;
      }
    }

    .typeform-close {
      @include close(#737373);
      top: 6px;
      right: 8px;
      left: auto;
    }
  }
}
