@import 'includes/spinner';
@import 'includes/close';

.typeform-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s ease-in-out;

  .typeform-iframe-wrapper {
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 4px 0 0 4px;
      overflow: hidden;
    }
  }

  .typeform-close {
    @include close;

    top: 4px;
    left: -24px;

    &:hover {
      opacity: 1;
    }
  }

  .typeform-spinner {
    @include spinner();
  }

  &.left {
    .typeform-iframe-wrapper iframe {
      border-radius: 0 4px 4px 0;
    }

    .typeform-close {
      left: auto;
      right: -24px;
    }
  }
}
