@import 'includes/spinner';
@import 'includes/close';
@import 'includes/iframe';
@import 'includes/mobile';
@import 'includes/fullsize';
@import 'includes/backdrop';

.tf-v1-slider {
  @include backdrop;

  .tf-v1-iframe-wrapper {
    max-width: calc(100vw - 26px);
    height: 100%;
    position: absolute;
    top: 0;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out;

    iframe {
      @include iframe;

      @include desktop {
        border-radius: 8px 0 0 8px;
      }
    }
  }

  .tf-v1-close {
    @include close;

    @include desktop {
      top: 4px;
      left: -26px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .tf-v1-spinner {
    @include spinner;
  }

  &.left {
    @include desktop {
      .tf-v1-iframe-wrapper iframe {
        border-radius: 0 8px 8px 0;
      }

      .tf-v1-close {
        left: auto;
        right: -24px;
      }
    }
  }
}

@include mobile {
  .tf-v1-slider {
    @include fullsize;

    .tf-v1-iframe-wrapper {
      width: 100% !important;
      max-width: 100vw;
      height: 100%;
      transition: unset;

      iframe {
        border-radius: none;
      }
    }

    .tf-v1-close {
      @include close;
      left: auto;
    }
  }
}
