@import 'includes/close';
@import 'includes/iframe';
@import 'includes/fullsize';

.tf-v1-widget {
  width: 100%;
  height: 100%;
  position: relative;

  iframe {
    @include iframe;
    border-radius: 8px;
  }
}

.tf-v1-widget-close {
  display: none;
}

.tf-v1-widget-iframe-overlay {
  @include iframe;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.tf-v1-widget-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;

  @include fullsize;

  .tf-v1-widget-close {
    display: block;
    @include close(#737373);

    top: 4px;
    right: 6px;
    z-index: 1;
  }

  iframe {
    border-radius: 0;
  }
}
