@import 'includes/close';
@import 'includes/iframe';
@import 'includes/fullsize';
@import 'includes/http-banner';

.typeform-widget {
  width: 100%;
  height: 100%;
  position: relative;

  iframe {
    @include iframe;
    border-radius: 8px;
  }
}

.typeform-widget-close {
  display: none;
}

.typeform-widget-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;

  @include fullsize;

  .typeform-widget-close {
    display: block;
    @include close(#737373);

    top: 4px;
    right: 6px;
  }

  iframe {
    border-radius: 0;
  }
}
