os: linux
dist: xenial

language: node_js

node_js:
  - "12"

python:
  - "3.6"

addons:
# https://stackoverflow.com/questions/57903415/travis-ci-chrome-62-instead-of-77
  chrome: stable
  firefox: "67.0"

branches:
  only:
    - master

cache:
  npm: false
  yarn: false

notifications:
  email: false
  slack:
    rooms:
      - $SLACK_NOTIFICATION_TOKEN#distribution-alerts
    on_pull_requests: true

env:
  VERSION: "$TRAVIS_BUILD_NUMBER"

before_install:
  - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY
  - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_KEY

jobs:
  include:
    - stage: "Test"
      name: "Lint"
      if: branch = master
      script:
        - yarn lint
    - name: "Unit Tests"
      if: branch = master
      script:
        - yarn test:unit
    - name: "Functional Tests (Internal)"
      if: fork = false AND branch = master
      script:
        - yarn start --no-info & export EMBED_PID=$!
        - yarn test:functional:chrome --record --parallel
        - yarn test:functional:firefox --record --parallel
        - kill $EMBED_PID
    - name: "Functional Tests (External)"
      if: fork = true AND branch = master
      script:
        - yarn start --no-info & export EMBED_PID=$!
        - yarn test:functional:chrome
        - yarn test:functional:firefox
        - kill $EMBED_PID
    - name: "Visual Tests Chrome (Internal)"
      if: fork = false AND branch = master
      script:
        - yarn start --no-info & export EMBED_PID=$!
        - yarn test:visual:install
        - yarn test:visual:chrome
        - kill $EMBED_PID
    - name: "Visual Tests Mobile (Internal)"
      if: fork = false AND branch = master
      script:
        - yarn start --no-info & export EMBED_PID=$!
        - yarn test:visual:install
        - yarn test:visual:mobile
        - kill $EMBED_PID
    - name: "Visual Tests Firefox (Internal)"
      if: fork = false AND branch = master
      script:
        - yarn start --no-info & export EMBED_PID=$!
        - yarn test:visual:install
        - yarn test:visual:firefox
        - kill $EMBED_PID
    - stage: "Release"
      name: "Deploy Preview to AWS"
      # Deploy to preview preview URL for testing purposes. Only deploy pull requests to 'master' branch.
      if: branch = master AND type = pull_request
      script:
        - yarn build
        - pip install --user awscli
        - aws s3 cp ./dist s3://$AWS_ASSETS_BUCKET/$TRAVIS_COMMIT --recursive --acl public-read
    - name: "Release to NPM"
      if: branch = master AND type = push
      script:
        - yarn semantic-release --branch master
    - name: "Release to AWS"
      if: branch = master AND type = push
      script:
        - yarn build
        - pip install --user awscli
        - aws s3 cp ./dist s3://$AWS_ASSETS_BUCKET --recursive --acl public-read
