#outerCircleText {
  color: #00f;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  cursor: default;
}
#outerCircleText div {
  position: relative;
}
#outerCircleText div div {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
