name: PR

on:
  pull_request:
    branches: [master]

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
  AWS_ASSETS_BUCKET: 'typeform-public-assets/embed'
  PUBLIC_CDN_URL: 'https://embed.typeform.com'
  JARVIS_NOTIFY_PREVIEW_TEMPLATE: '*[BOT]* Preview available: https://embed.typeform.com/${version}/embed.js'
  EYES_API_KEY: ${{ secrets.EYES_API_KEY }}
  APPLITOOLS_BATCH_ID: ${{ github.event.pull_request.head.sha }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1
      - run: yarn lint
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1
      - run: yarn test:unit
  functional:
    name: Functional Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1
      - run: yarn build
      - run: yarn ci:functional
  visual:
    name: Visual Tests
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1
      - run: yarn build
      - run: yarn ci:visual
  deploy_preview:
    name: Deploy Preview to AWS
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    needs: [lint, unit, functional, visual]
    steps:
      - uses: actions/checkout@v2
      - run: rm ./.npmrc
      - run: npm config set '//npm.pkg.github.com/:_authToken' $GH_TOKEN
      - run: npm config set @typeform:registry https://npm.pkg.github.com/
      - uses: bahmutov/npm-install@v1
      - run: yarn build
      - run: yarn add @typeform/jarvis@11.0.0
      - run: ./scripts/consolidate-dist.sh
      - run: DEBUG=jarvis yarn run jarvis deploy --path dist --preview --notify-preview
