name: Trigger Demos Update
on:
  push:
    branches:
      - main

jobs:
  trigger-external-update:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - name: update_embed_demos
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: Typeform/embed-demo
          event-type: update_embed_demos

      - name: update_embed_docs
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          repository: Typeform/developers
          event-type: update_embed_docs
